# This Notebook was created to test out the SQL queries for the SQL part of the challenge. 

**Author: Luis Yakin Carrillo Camacho**

---

To test out the SQL queries given the database scheme, I first created a example database using sqlite3. This database, named as example.db, will store the sample data.

In [1]:
import sqlite3

# Create a connection to the database.
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Create Customers table
cursor.execute('''
    CREATE TABLE Customers (
        customer_id INTEGER PRIMARY KEY,
        customer_name CHAR(50) NOT NULL
    )
''')

# Create Orders table
cursor.execute('''
    CREATE TABLE Orders (
        order_id INTEGER PRIMARY KEY,
        customer_id INTEGER NOT NULL,
        order_date DATE NOT NULL,
        FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
    )
''')

# Create Shipments table
cursor.execute('''
    CREATE TABLE Shipments (
        shipment_id INTEGER PRIMARY KEY,
        order_id INTEGER NOT NULL,
        shipment_date DATE NOT NULL,
        FOREIGN KEY (order_id) REFERENCES Orders(order_id)
    )
''')

# Insert some sample data
cursor.execute("INSERT INTO Customers (customer_id, customer_name) VALUES (10, 'Luis')")
cursor.execute("INSERT INTO Customers (customer_id, customer_name) VALUES (25, 'Emmanuel')")

cursor.execute("INSERT INTO Orders (order_id, customer_id, order_date) VALUES (101, 10, '2023-08-01')")
cursor.execute("INSERT INTO Orders (order_id, customer_id, order_date) VALUES (102, 10, '2023-08-10')")
cursor.execute("INSERT INTO Orders (order_id, customer_id, order_date) VALUES (103, 25, '2023-08-05')")

cursor.execute("INSERT INTO Shipments (shipment_id, order_id, shipment_date) VALUES (201, 101, '2023-08-02')")
cursor.execute("INSERT INTO Shipments (shipment_id, order_id, shipment_date) VALUES (202, 101, '2023-08-03')")
cursor.execute("INSERT INTO Shipments (shipment_id, order_id, shipment_date) VALUES (203, 102, '2023-08-11')")

# Commit the changes and close the connection
conn.commit()
conn.close()

Once the database was created, and to verify it was created correctly, I tried to visualize each of the tables using pandas read_sql function.

In [2]:
import pandas as pd

# Create a connection to the database
conn = sqlite3.connect('example.db')

# Read Customers table into a DataFrame
customers_df = pd.read_sql("SELECT * FROM Customers", conn)

# Read Orders table into a DataFrame
orders_df = pd.read_sql("SELECT * FROM Orders", conn)

# Read Shipments table into a DataFrame
shipments_df = pd.read_sql("SELECT * FROM Shipments", conn)

# Close the connection
conn.close()

# Print the DataFrames
print("Customers Table:")
print(customers_df)

print("\nOrders Table:")
print(orders_df)

print("\nShipments Table:")
print(shipments_df)

Customers Table:
   customer_id customer_name
0           10          Luis
1           25      Emmanuel

Orders Table:
   order_id  customer_id  order_date
0       101           10  2023-08-01
1       102           10  2023-08-10
2       103           25  2023-08-05

Shipments Table:
   shipment_id  order_id shipment_date
0          201       101    2023-08-02
1          202       101    2023-08-03
2          203       102    2023-08-11

Once the database was correctly created, the following cell will make one by one the queries from the challenge, and print the results of each one.

In [3]:
# Create a connection to the database
conn = sqlite3.connect('example.db')

# Query 1: All the orders of the customer with customer_name = 'Emmanuel'
query1 = '''
    SELECT *
    FROM Orders
    INNER JOIN Customers ON Orders.customer_id = Customers.customer_id
    WHERE Customers.customer_name = 'Emmanuel';
'''
result1_df = pd.read_sql(query1, conn)

print("Query 1:")
print(result1_df)

# Query 2: How many orders have the customer with customer_id = 25
query2 = '''
    SELECT COUNT(*) AS order_count
    FROM Orders
    WHERE customer_id = 25;
'''
result2_df = pd.read_sql(query2, conn)

print("\nQuery 2:")
print(result2_df)

# Query 3: Order by order_date descending, all the orders that have the customer called 'Luis'
query3 = '''
    SELECT *
    FROM Orders
    INNER JOIN Customers ON Orders.customer_id = Customers.customer_id
    WHERE Customers.customer_name = 'Luis'
    ORDER BY Orders.order_date DESC;
'''
result3_df = pd.read_sql(query3, conn)

print("\nQuery 3:")
print(result3_df)

# Query 4: How many shipments have by order the customer with customer_id = 10
query4 = '''
    SELECT COUNT(Shipments.shipment_id) AS shipment_count
    FROM Shipments
    INNER JOIN Orders ON Shipments.order_id = Orders.order_id
    WHERE Orders.customer_id = 10;
'''
result4_df = pd.read_sql(query4, conn)

print("\nQuery 4:")
print(result4_df)

# Close the connection
conn.close()

Query 1:
   order_id  customer_id  order_date  customer_id customer_name
0       103           25  2023-08-05           25      Emmanuel

Query 2:
   order_count
0            1

Query 3:
   order_id  customer_id  order_date  customer_id customer_name
0       102           10  2023-08-10           10          Luis
1       101           10  2023-08-01           10          Luis

Query 4:
   shipment_count
0               3